<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="behavior_type">
            <file>Tests/behavior/IteratorTest.php</file>
            <file>Tests/behavior/StatusTest.php</file>
            <file>Tests/behavior/VisitorTest.php</file>
            <file>Tests/behavior/TemplateTest.php</file>
            <file>Tests/behavior/ObserverTest.php</file>
            <file>Tests/behavior/ResponsibilityChainTest.php</file>
            <file>Tests/behavior/TokenTest.php</file>
            <file>Tests/behavior/InterpreterTest.php</file>
            <file>Tests/behavior/StrategyTest.php</file>
            <file>Tests/behavior/CommandChainTest.php</file>
            <file>Tests/behavior/FactoryTest.php</file>
        </testsuite>
        <testsuite name="struct_type">
        </testsuite>
        <testsuite name="created_type">
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
